/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Vriable";
  --accent-font: "PressStart2P";
  --title-weight: 700;
  --main-text-weight: 400;
  --background-image: url(../images/background.png);
  --background-color: #fff;
  --border-color: #000;
  --lable-border-color: #fff;
  --accent-color: #000;
  --button-color: #fff;
  --main-color: #000;
  --main-bg-color: #fff;
  --contour-color: #000;
  --heart-main-color: #f00;
}
